{% extends 'base.html' %}

{% block title %}Forgot Password - Blood Management APP{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="col-md-7 col-lg-6">
        <div class="glass-card text-center p-5">
            <h2 class="text-white app-title mb-2">
                <i class="fa-solid fa-droplet text-white"></i>
                Blood-Management-APP
            </h2>
            <h3 class="text-white fw-bold mb-4">Recover Password</h3>
            <form method="POST">

                <div class="mb-4 position-relative">
                    <i class="fa-solid fa-envelope input-icon"></i>
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                </div>

                <button class="btn btn-solid-white w-100 mb-3">Send Reset Link</button>
            </form>

            <div class="mt-4">
                <a href="{{ url_for('login') }}" class="btn btn-solid-white w-100 mb-3">Back to Sign In</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}