{% extends 'base.html' %}

{% block title %}Reset Password - Blood Management APP{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="col-md-7 col-lg-6">
        <div class="glass-card text-center p-5">
            <h1 class="text-white app-title mb-2">
                <i class="fa-solid fa-droplet text-white"></i>
                Blood-Management-APP
            </h1>
            <h2 class="text-white fw-bold mb-4">Set New Password</h2>
            <form method="POST">
                <div class="mb-4 position-relative">
                    <i class="fa-solid fa-lock input-icon"></i>
                    <input type="password" name="password" id="reset-password" class="form-control"
                        placeholder="New Password" required>
                    <i class="fa-solid fa-eye password-toggle" onclick="togglePassword(this, 'reset-password')"></i>
                </div>
                <button class="btn btn-solid-white w-100 mb-3">Reset Password</button>
            </form>

            <div class="mt-3">
                <a href="{{ url_for('login') }}" class="btn btn-solid-white w-100 mb-3">Back to Sign In</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}